<?php if(!defined('IN_INSTALL')) exit('Request Error!'); ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>源码云平台 安装向导 - 安装成功 - </title>
    <link href="templates/style/install.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="templates/js/jquery.min.js"></script>
    <script type="text/javascript" src="templates/js/common.js"></script>
</head>

<body>
    <div class="header"></div>
    <div class="mainBody">
        <div class="note">
            <span style="color:red;font-size:25px;"> 注意：最后一步 登陆网站后台 数据库管理里恢复数据库 这里只是安装完成 恢复数据库了 网站打开才全部正常 切记</span>
            <div class="complete"><strong>现在您可以：</strong><br />
                <a href="../admin/">登录后台</a><br /><br />
            </div>
        </div>
    </div>
</body>

</html>